[submodule "plugin/flac/test/testdata/conformance"]
	path = testdata/flac/conformance
	url = https://github.com/ietf-wg-cellar/flac-test-files.git
[submodule "example/assets"]
	path = example/assets
	url = https://github.com/godexture/assets.git
